.controle {
  display: flex;
  justify-content: center;
}

.corpo {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mapa {
  width: 80%;
  height: 80%;

  background-color: #c0c0c0;
  border-radius: 20px;
  border: 1px solid black;
}
